.tool-tip[title-new]:hover:after {
    content: attr(title-new);
    position: absolute;
    border: #c0c0c0 1px dotted;
    margin-left:25px;
    margin-top:0;
    border-radius: 10px;
    padding: 10px;
    // display: block;
    // z-index: 100;
    background-color: #ffc107;
    color: #ffffff;
    max-width: 250px;
    text-decoration: none;
    text-align:center;
  }