<div class="container mt-4">
    <h3 class="text-center">GraphQL Demo --Users</h3>
    <div class="d-flex justify-content-between">
        <button class="btn btn-warning w-25 me-2" routerLink="/"><i
                class="fa-solid fa-user "></i>&nbsp;&nbsp;&nbsp;Switch to Posts</button>

        <input type="text" placeholder="Search by Name, Username, Company or Email.." class="form-control w-50"
            #searchKeyword>
        <button class="btn btn-warning custom-button w-25 ms-2" data-toggle="modal" data-target="#newUserModal"><i
                class="fa-solid fa-plus "></i>&nbsp;&nbsp;&nbsp;New User</button>
    </div>

    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Comapany</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td  data-toggle="modal" data-target="#exampleModal" class="text-center" (click)="viewUser(user.id)"><i
              class="fa-solid fa-eye text-success "></i></td>
                <td data-toggle="modal" data-target="#updateuserModal" (click)="updateUser(user.id)">
                    <i class=" fa-solid fa-pencil text-warning text-center"></i>
                </td>
                <td  (click)="deleteUser(user.id)"><i class="fa-solid fa-trash text-danger"></i></td>
                <td (mouseenter)="companyHoverd(user.company)" class="tool-tip">{{user.company?.name}}</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Id: {{singleUserData?.id}} <br>
        <hr>
        Name : {{singleUserData?.name}} <br>
        <hr>
        Username : {{singleUserData?.username}}
        <hr>
        Email : {{singleUserData?.email}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserModalLabel">Create new User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm">
                    <input type="text" formControlName="name" class="form-control m-2" placeholder="Enter Name">
                    <input type="text" formControlName="username" class="form-control m-2"
                        placeholder="Enter User Name">
                    <input type="text" formControlName="email" class="form-control m-2" placeholder="Enter Email">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()">Create new
                    User</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateuserModal" tabindex="-1" role="dialog" aria-labelledby="updateuserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateuserModalLabel">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateForm">
                    <input type="text" formControlName="name" class="form-control m-2" placeholder="Enter Name"
                        #updateName value="{{singleUserData?.name}}">
                    <input type="text" formControlName="username" class="form-control m-2" placeholder="Enter User Name"
                        #updateUserName value="{{singleUserData?.username}}">
                    <input type="text" formControlName="email" class="form-control m-2" placeholder="Enter Email"
                        #updateEmail value="{{singleUserData?.email}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateData(userId)">Upddate
                    User</button>
            </div>
        </div>
    </div>
</div>